---
import { Image } from "astro:assets";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import jennifer from "../images/jennifer.png";
import jessicka from "../images/jessicka.png";
import lashane from "../images/lashane.png";
import michael from "../images/michael.png";
import pool from "../images/pool.jpg";
import group from "../images/soiGroup.jpg";
import palace from "../images/soiPalace.jpg";
import tennis from "../images/soiTennis.jpg";

import coke from "/cokeBottle.jpg";
import largeGroup from "/largeGroup.jpg";
import dropdown from "/dropdown.svg";
import MoreInfo from "../components/MoreInfo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>ACES Lorain County</title>
  </head>
  <Navbar />
  <main>
    <div class="soi-container" id="soi">
      <h2 class="heading text-center">Summer of Innovation Youth Camps</h2>
      <div class="photo-text-container flex">
        <div class="photo-card-container">
          <Image class="photo-card-img" src={pool} alt="kids in pool smiling" />
        </div>
        <MoreInfo client:visible />
      </div>
    </div>
    <div class="photo-grid-container flex">
      <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={group}
          alt="group of students is a classroom"
        />
      </div>
      <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={tennis}
          alt="students and faculty holding a banner that says USTA find yourself in the game"
        />
      </div>
      <!-- <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={palace}
          alt="large group of students in front of a theatre"
        />
      </div> -->
    </div>
    <div class="team-container" id="team">
      <h2 class="heading text-center">Meet the ACES Team</h2>
      <div class="members-container">
        <div
          class="member-flex-container outline"
          style="border-radius: 40px; margin-bottom: 4rem;"
        >
          <div class="member-card">
            <Image class="member-img" src={michael} alt="" />
          </div>
          <div>
            <p class="blurb" style="padding: 1rem 2rem;">
              Hi, my name is Michael Ferrer, and I am the Director of ACES
              (Achievement through Community Education & Support), a Lorain
              County mentoring program focusing on helping young people navigate
              and overcome barriers, and unique challenges, as they journey to
              academic, social and career success. <br /><br /> Throughout life
              I have designed and implemented successful award-winning programs
              for youth while serving as director of youth services for El
              Centro (14 years), the Lorain Salvation Army (7 years) and the
              Lorain County Urban League (10 years). In 2015, I created ACES
              (originally PACE) as the culmination of the best practices derived
              from previous nationally recognized and award-winning programs
              dedicated to providing fun-filled learning experiences that
              strengthen and support the ability of our students to set and
              reach life-changing goals. <br /><br />
               My staff and I are committed to serving you from the moment you
              join us, through your first successful semester in college and/or
              attainment of sustainable wage employment. We are available to you
              during and after school, evenings, and weekends in person and via
              our chat rooms.
            </p>
          </div>
        </div>
        <div
          class="member-flex-container outline"
          style="border-radius: 40px; margin-bottom: 4rem;"
        >
          <div class="member-card">
            <Image class="member-img" src={jessicka} alt="" />
          </div>

          <div style="">
            <p class="blurb" style="padding: 1rem 2rem;">
              Hi. My name is Jessicka Castro. I am a Registered Nurse (RN) and
              the Associate Director of ACES. I’ve been an RN for 9 years but
              only pick up independent contracts to make sure I have the
              flexibility to continue working with our youth. I’ve been working
              alongside Michael Ferrer since 2007. I started working with him as
              a facilitator for various youth programs he designed (UYAC, PACE,
              and now ACES) for El Centro, the Salvation Army and until 2015,
              the Lorain County Urban League. I’ve worked myself up as tutor,
              mentor, facilitator, lead facilitator, and now Associate Director.


              <br /><br /> I grew up in Lorain, Ohio but have lived in various
              different states/places over several years. I predominately lived
              most of my childhood in the projects, surrounded by lots of drug
              activity and violence, having faced many obstacles that tried to
              set me up for failure. Instead, I used that as fuel to become a
              different person, getting involved in sports and clubs at school.
              I craved anything that would help move me forward. When I was 15,
              I joined Mike’s STEP program and that made a light bulb go off.
              This was for me! Here youth worked together to create change
              through theater and community service. I realized that I wanted to
              do what he did; help young people overcome obstacles, navigate
              barriers, graduate high school, and move on to college and a new
              life. <br /><br /> I navigated and graduated high school at a most
              difficult time, when cancer and injuries threatened my family, and
              I was taking care of my grandmother when she passed. I had to find
              another outlet, something that motivated me and made me stronger.
              Our youth programs saved me. I then went to college for nursing,
              graduating with high honors and wanted to support and help others
              like me. I reached out to Mike to see if he needed anyone and to
              my surprise, he did. That was 17 years ago, and I’ve been here
              ever since.
            </p>
          </div>
        </div>
        <div
          class="member-flex-container outline"
          style="border-radius: 40px; margin-bottom: 4rem;"
        >
          <div class="member-card">
            <Image class="member-img" src={jennifer} alt="" />
          </div>
          <div style="">
            <p class="blurb" style="padding: 1rem 2rem;">
              Hi, my name is Jennifer Sanabria and I joined the ACES team over
              three years ago as a tutor, mentor and now facilitator/supervisor.
              I also joined Mike’s STEP program at El Centro when I was 15 years
              old, a theater-based employment training program where we learned
              communications skills and advocacy by writing scripts, learning
              lines, and presenting plays about our lives and challenges at high
              schools and the Palace Theater every summer. We learned math by
              designing and building sets for our plays, teamwork, and
              discipline by studying lines, dance and designing choreography for
              our shows, we learned that there were so many others going through
              tough times, family tragedies, and seemingly insurmountable
              challenges. We came to realize that when we supported each other
              through these tough times, we shared experiences that made us
              stronger, that made us want to overcome. <br /><br /> Mike’s
              programs have always been about helping students establish and
              reach goals. As a team we work to help students realize their
              potential to do more, to be better, to be stronger. To not let
              detractors stop you from moving forward into a better future.
              Working with youth has always been my dream and I’m coming to
              realize that it may very well be my calling. Whether it’s on our
              evening chat rooms, our Summer of Innovation summer student run
              STE(A)M program for 2nd thru 7th graders or working with youth on
              community service projects which build stronger resumes, I love
              watching our young people succeed and am always grateful for the
              opportunity I have been given to help them overcome and succeed.
            </p>
          </div>
        </div>
        <div
          class="member-flex-container outline"
          style="border-radius: 40px; margin-bottom: 4rem;"
        >
          <div class="member-card">
            <Image class="member-img" src={lashane} alt="" />
          </div>

          <div style="">
            <p class="blurb" style="padding: 1rem 2rem;">
              Hi, my name is Lashane Hughley. My connection to the current ACES
              came through my participation in the original PACE (Promoting
              Achievement thru Community Education) program. When I joined PACE
              I was just starting my freshman year at Horizon Science Academy.
              My father had just walked out of my life without explanation and
              things at home were more than just challenging. When you are
              trapped in a broken home you are always looking for opportunities
              to escape. PACE was my opportunity; staff and my fellow students
              supported a kid who felt that she was carrying the whole world on
              her shoulders. They supported me even when I was not perfect and
              they became like my second family, looking out for me, advising
              me, pushing me to be more than I thought I could be. They got me
              through high school and into college. <br /><br />As I continued
              my college career I became determined to impact the lives of other
              young adults, helping them find their interests and experience
              their full potential. Working as a facilitator, mentor and tutor
              for ACES allows me to empower others as I was empowered, helping
              young people to find their gifts, regardless of the many
              challenges and barriers that get in the way. ACES helps us all
              become better advocates for ourselves and others. I have been a
              part of PACE and ACES for approximately seven years and will
              continue in various capacities while continuing perusing my human
              services career and entrepreneurial goals. My passion is to be the
              best role model for our students always leading by example.
            </p>
          </div>
        </div>

        <!-- <div class="member-card">
          <Image class="member-img" src={jessicka} alt="" />
          <div class="member-nametag">
            <h5>Jessicka Castro (RN)</h5>
            <span>Associate Director <br /> Lead Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={jennifer} alt="" />
          <div class="member-nametag">
            <h5>Jennifer Sanabria</h5>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={lashane} alt="" />
          <div class="member-nametag">
            <h5>Lashane Hughley</h5>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="team-container" id="team">
      <h2 class="heading text-center">Meet the ACES Team</h2>
      <div class="team-cards-container">
        <div class="member-card">
          <Image class="member-img" src={michael} alt="" />
          <div class="member-nametag">
            <h5>Michael Ferrer</h5>
            <span>Director of ACES</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={jessicka} alt="" />
          <div class="member-nametag">
            <h5>Jessicka Castro (RN)</h5>
            <span>Associate Director <br /> Lead Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={jennifer} alt="" />
          <div class="member-nametag">
            <h5>Jennifer Sanabria</h5>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={lashane} alt="" />
          <div class="member-nametag">
            <h5>Lashane Hughley</h5>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
      </div>
    </div> -->
  </main>
  <Footer />
  <style is:global>
    main {
    }
    .flex {
      display: flex;
      gap: var(--gap, 1rem);
    }
    body {
      overflow-x: hidden;
      background-color: #eee;
      font-family: "Manrope", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }
    a {
      font-weight: 500;
    }
    strong {
      color: var(--aces-blue-dark);
    }
    .text-center {
      text-align: center !important;
    }
    .heading {
      font-size: 2rem;
      padding-bottom: 2rem;
      margin: 0;
    }
    .bubble {
      color: #000;
      background-color: #eee;
      /* border: 2px solid var(--aces-blue-light); */
    }
    .outline {
      border: 2px solid var(--aces-blue-light);
    }
    .blurb {
      font-size: 1.25rem;
    }
    .soi-container {
      padding-top: 2rem;
    }
    .mission-text {
      text-align: center;
      padding: 2rem 1rem;
      margin: 2rem 5%;
      /* background-color: #fff; */
      border-radius: 40px;

      /* width: 90%; */
    }
    .photo-text-container {
      display: flex;
      margin: 0 5% 5rem;
      justify-content: space-between;
      height: 50rem;
    }
    .text-card {
      display: flex;
      flex: 1 0 45%;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      text-align: left;
      margin-right: 5rem;
      /* padding: 1.5rem; */
      /* background-color: #fff; */
      color: #000;
    }
    .photo-card-container {
      flex: 0 0 50%;
      margin-right: 2rem;
      overflow: hidden;
      box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1);
      /* background-position: center;
      background-size: cover; */
    }
    .photo-card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* object-position: 50% 65%; */
    }
    .photo-card-text {
      background-color: #fff;
      height: 100%;
      padding: 1.5rem;
      margin-right: 2rem;
      flex: 1 0 20%;
      text-align: center;
    }
    .photo-text-container > *,
    .photo-grid-container > * {
      border-radius: 40px;
    }
    .photo-grid-container {
      display: flex;
      justify-content: space-around;
      margin: 0 5% 2rem;
    }
    .photo-grid-container > .photo-card-container {
      flex: 0 1 50%;
      margin: 0;
    }
    .motivated-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 4rem 4rem;
      /* margin: 0 5% 3rem; */
      /* background-color: #fff; */
      border-radius: 40px;
    }
    .info-container {
      margin: 0 5% 5rem;
    }
    .info-button-container {
      margin-top: 1rem;
      /* display: flex; */
      padding: 0.8rem;
      /* position: fixed; */
      border-radius: 40px;
      /* margin-bottom: 10%; */
    }
    .info-button-container > span {
      padding-right: 0.5rem;
    }
    .info-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .info-button:hover {
      rotate: 360deg;
      transform: scale(1.2);
      transition: 0.3s all ease-out;
    }
    .info-icon {
      fill: var(--aces-blue);
    }
    .info-icon:active {
      fill: var(--aces-blue-dark);
    }
    .new-tab-linebreak {
      display: none;
    }
    .download-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .download-button:hover {
      transform: scale(1.2);
      transition: 0.2s all ease-out;
    }
    .team-container {
      margin: 4rem 5% 3rem;
    }
    .members-container {
      margin: 0 5%;
    }
    .team-cards-container {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 1rem;
    }
    .member-flex-container {
      display: flex;
      gap: 1rem;
      overflow: hidden;
      /* align-items: center; */
    }
    .member-card {
      display: flex;
      flex-direction: column;
      flex: 1 0 30%;
      /* max-width: 310px; */
      /* max-height: 445px; */
      /* border: 2px solid var(--aces-blue-light); */
      /* border-radius: 40px 0px 0px 40px; */
      overflow: hidden;
      background-color: #fff;
    }
    .member-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      /* position: relative;
      top: 0; */
      /* margin-bottom: 1.5rem; */
      /* box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1); */
    }
    .member-nametag {
      text-align: center;
      padding: 7% 5%;
      height: 43%;
    }
    span {
      font-size: 1.2rem;
    }
    .showcase {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      /* padding: 2rem 20% 2rem; */
      background-color: var(--aces-blue-dark);
      overflow-y: hidden;
    }
    .showcase > img {
      width: 100%;
    }

    .big-heading {
      font-size: 2.5rem;
      padding: 3rem 0 3rem;
    }
    .awards-container {
      padding: 0 20% 2rem;
      background-color: var(--aces-blue);
    }
    .awards-container > p {
      font-size: 1.4rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      background-color: #fff;
      box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.1);
    }

    @media (max-width: 83.375em) {
      .blurb {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 64em) {
      .photo-text-container {
        height: auto;
      }
      .member-flex-container {
        flex-direction: column;
        gap: 0;
      }
      .team-cards-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 5%;
      }
      .member-card {
        /* flex: 0 1 40%; */
        /* margin-bottom: 2rem; */
      }
      span {
        font-size: 1rem;
      }
    }

    @media (max-width: 64em) {
      .mission-text {
        padding: 1.5rem;
      }
      .photo-text-container {
        justify-content: space-between;
        /* height: 48rem; */
        /* margin-bottom: 2rem; */
      }
      .text-card {
        flex: 0 0 10%;
        margin: 0;
      }
      .photo-card-container {
        /* margin: 2rem 0; */
        flex: 0 0 40%;
      }
      .motivated-text {
        padding: 2rem 2rem;
      }
    }

    @media (max-width: 35em) {
      .flex {
        flex-direction: column;
        gap: var(--gap, 2rem);
      }
      .photo-grid-container {
        height: auto;
        margin: 0 5% 2rem;
      }
      .new-tab-linebreak {
        display: inline;
      }
      .team-header {
        padding: 0;
        text-align: center;
        font-size: 3rem;
      }
      .members-container {
        margin: 0;
      }
      .team-cards-container {
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
      }
      .awards-container {
        padding: 0 5% 2rem;
      }
      .mission-container {
        padding: 1rem 1.2rem;
        height: auto;
      }
      .photo-text-container {
        height: auto;
        margin-bottom: 2rem;
      }
      .text-card {
        padding: 0 1rem 3rem;
        text-align: center;
        margin: 0;
      }
      .text-card > p {
        font-size: 1.2rem;
      }
      .photo-card-container {
        margin: 0;
      }
      .rewards-container {
        padding: 0;
        flex-wrap: nowrap;
        margin: 2rem 5%;
        align-items: center;
        height: 81.25rem;
      }
      .rewards-card {
        flex: 0 1;
      }
      .rewards-icon {
        padding: 0;
      }
      .signup-photo-text-container {
        height: auto;
      }
      .signup-photo-card-container {
        margin: 0 0 3rem;
      }
      .motivated-text {
        padding: 1.5rem;
        font-size: 1.2rem;
      }
      .motivated-header {
        text-align: center;
      }
      .rewards-list {
        font-size: 1.2rem;
      }
    }
  </style>


</html>
