---
import { Image } from "astro:assets";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import jennifer from "../images/jennifer.png";
import jessicka from "../images/jessicka.png";
import lashane from "../images/lashane.png";
import michael from "../images/michael.png";
import pool from "../images/pool.jpg";
import group from "../images/soiGroup.jpg";
import palace from "../images/soiPalace.jpg";
import tennis from "../images/soiTennis.jpg";

import coke from "/cokeBottle.jpg";
import largeGroup from "/largeGroup.jpg";
import dropdown from "/dropdown.svg";
import MoreInfo from "../components/MoreInfo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="src/images/favicon.svg" />
    <title>ACES Lorain County</title>
  </head>
  <Navbar />
  <main>
    <div class="soi-container" id="soi">
      <h2 class="heading text-center">Summer of Innovation Youth Camps</h2>
      <div class="photo-text-container flex">
        <div class="photo-card-container">
          <Image class="photo-card-img" src={pool} alt="kids in pool smiling" />
        </div>
        <MoreInfo client:visible />
      </div>
    </div>
    <div class="photo-grid-container flex">
      <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={group}
          alt="group of students is a classroom"
        />
      </div>
      <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={tennis}
          alt="students and faculty holding a banner that says USTA find yourself in the game"
        />
      </div>
      <div class="photo-card-container">
        <Image
          class="photo-card-img"
          src={palace}
          alt="large group of students in front of a theatre"
        />
      </div>
    </div>
    <div class="team-container" id="team">
      <h2 class="heading text-center">Meet the ACES Team</h2>
      <div class="team-cards-container">
        <div class="member-card">
          <Image class="member-img" src={michael} alt="" />
          <!-- <img class="member-img" src={michael} alt="" /> -->
          <div class="member-nametag">
            <h4>Michael Ferrer</h4>
            <span>Director</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={jessicka} alt="" />
          <div class="member-nametag">
            <h4>Jessicka Castro (RN)</h4>
            <span>Associate Director <br /> Lead Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={jennifer} alt="" />
          <div class="member-nametag">
            <h4>Jennifer Sanabria</h4>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <Image class="member-img" src={lashane} alt="" />
          <div class="member-nametag">
            <h4>Lashane Hughley</h4>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
  <style is:global>
    main {
    }
    .flex {
      display: flex;
      gap: var(--gap, 1rem);
    }
    body {
      overflow-x: hidden;
      background-color: #eee;
      font-family: "Manrope", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }
    a {
      font-weight: 500;
    }
    strong {
      color: var(--aces-blue-dark);
    }
    .text-center {
      text-align: center !important;
    }
    .heading {
      font-size: 2rem;
      padding-bottom: 2rem;
      margin: 0;
    }
    .bubble {
      color: #000;
      background-color: #eee;
      /* border: 2px solid var(--aces-blue-light); */
    }
    .outline {
      border: 2px solid var(--aces-blue-light);
    }
    .blurb {
      font-size: 1.25rem;
    }
    .soi-container {
      padding-top: 2rem;
    }
    .mission-text {
      text-align: center;
      padding: 2rem 1rem;
      margin: 2rem 5%;
      /* background-color: #fff; */
      border-radius: 40px;

      /* width: 90%; */
    }
    .photo-text-container {
      display: flex;
      margin: 0 5% 5rem;
      justify-content: space-between;
      height: 50rem;
    }
    .text-card {
      display: flex;
      flex: 1 0 45%;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      text-align: left;
      margin-right: 5rem;
      /* padding: 1.5rem; */
      /* background-color: #fff; */
      color: #000;
    }
    .photo-card-container {
      flex: 0 0 50%;
      margin-right: 2rem;
      overflow: hidden;
      box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1);
      /* background-position: center;
      background-size: cover; */
    }
    .photo-card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* object-position: 50% 65%; */
    }
    .photo-card-text {
      background-color: #fff;
      height: 100%;
      padding: 1.5rem;
      margin-right: 2rem;
      flex: 1 0 20%;
      text-align: center;
    }
    .photo-text-container > *,
    .photo-grid-container > * {
      border-radius: 40px;
    }
    .photo-grid-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5rem;
    }
    .photo-grid-container > .photo-card-container {
      flex: 0 1 30%;
      margin: 0;
    }
    .motivated-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 2rem 2rem;
      /* margin: 0 5% 3rem; */
      /* background-color: #fff; */
      border-radius: 40px;
    }
    .info-container {
      margin: 0 5% 5rem;
    }
    .info-button-container {
      margin-top: 2rem;
      /* display: flex; */
      padding: 0.8rem;
      /* position: fixed; */
      border-radius: 40px;
      /* margin-bottom: 10%; */
    }
    .info-button-container > span {
      padding-right: 0.5rem;
    }
    .info-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .info-button:hover {
      rotate: 360deg;
      transform: scale(1.2);
      transition: 0.3s all ease-out;
    }
    .info-icon {
      fill: var(--aces-blue);
    }
    .info-icon:active {
      fill: var(--aces-blue-dark);
    }
    .new-tab-linebreak {
      display: none;
    }
    .download-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .download-button:hover {
      transform: scale(1.2);
      transition: 0.2s all ease-out;
    }
    .team-header {
      font-size: 4rem;
      padding-left: 1rem;
    }
    .team-container {
      margin: 2rem auto 4rem;
      max-width: 90rem;
    }
    .team-cards-container {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      margin: 0 1rem;
    }
    .member-card {
      flex: 0 1 22%;
      width: 310px;
      /* min-height: 445px; */
      border: 2px solid var(--aces-blue-light);
      border-radius: 40px;
      overflow: hidden;
      background-color: #fff;
    }
    .member-img {
      width: 100%;
      height: 70%;
      /* margin-bottom: 1.5rem; */
      /* box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1); */
    }
    .member-nametag {
      text-align: center;
      padding: 7% 5%;
    }
    span {
      font-size: 1.2rem;
    }
    .showcase {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      /* padding: 2rem 20% 2rem; */
      background-color: var(--aces-blue-dark);
      overflow-y: hidden;
    }
    .showcase > img {
      width: 100%;
    }

    .big-heading {
      font-size: 2.5rem;
      padding: 3rem 0 3rem;
    }
    .awards-container {
      padding: 0 20% 2rem;
      background-color: var(--aces-blue);
    }
    .awards-container > p {
      font-size: 1.4rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      background-color: #fff;
      box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.1);
    }

    @media (max-width: 83.375em) {
      .blurb {
        font-size: 1.2rem;
      }
    }

    /* @media (max-width: 64em) {
      .photo-text-container {
        height: auto;
      }
      .team-cards-container {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 5%;
      }
      .member-card {
        flex: 0 1 40%;
        margin-bottom: 2rem;
      }
      span {
        font-size: 1rem;
      }
    } */

    @media (max-width: 64em) {
      .mission-text {
        padding: 1.5rem;
      }
      .photo-text-container {
        justify-content: space-between;
        /* height: 48rem; */
        /* margin-bottom: 2rem; */
      }
      .text-card {
        flex: 0 0 10%;
        margin: 0;
      }
      .photo-card-container {
        margin: 2rem 0;
        flex: 0 0 40%;
      }
      .rewards-container {
        flex-wrap: wrap;
        padding: 0 0 2rem;
      }
      .rewards-card {
        flex: 0 0 40%;
        margin-bottom: 2rem;
      }
      .signup-photo-text-container {
        margin: 0 5% 3rem;
        height: 55rem;
      }
      .signup-photo-card-container {
        margin: 0 0 2rem;
        flex: 0 0 40%;
      }
      .rewards-list {
        padding-bottom: 1rem;
      }
    }

    @media (max-width: 35em) {
      .flex {
        flex-direction: column;
        gap: var(--gap, 2rem);
      }
      .photo-grid-container {
        height: auto;
        margin: 0 5% 2rem;
      }
      .new-tab-linebreak {
        display: inline;
      }
      .team-header {
        padding: 0;
        text-align: center;
        font-size: 3rem;
      }
      .team-cards-container {
        flex-wrap: nowrap;
        align-items: center;
      }
      .awards-container {
        padding: 0 5% 2rem;
      }
      .mission-container {
        padding: 1rem 1.2rem;
        height: auto;
      }
      .photo-text-container {
        height: auto;
        margin-bottom: 2rem;
      }
      .text-card {
        padding: 0 1rem 3rem;
        text-align: center;
        margin: 0;
      }
      .text-card > p {
        font-size: 1.2rem;
      }
      .photo-card-container {
        margin: 0;
      }
      .rewards-container {
        padding: 0;
        flex-wrap: nowrap;
        margin: 2rem 5%;
        align-items: center;
        height: 81.25rem;
      }
      .rewards-card {
        flex: 0 1;
      }
      .rewards-icon {
        padding: 0;
      }
      .signup-photo-text-container {
        height: auto;
      }
      .signup-photo-card-container {
        margin: 0 0 3rem;
      }
      .motivated-text {
        padding: 1.5rem;
        font-size: 1.2rem;
      }
      .motivated-header {
        text-align: center;
      }
      .rewards-list {
        font-size: 1.2rem;
      }
    }
  </style>


</html>
