---
import Navbar from "../components/Navbar.astro";
import Slideshow from "../components/Slideshow.astro";
import Footer from "../components/Footer.astro";

import paddleBoarding from "/paddleBoarding.jpg";
import mouseAndCat from "/mouseAndCat.jpg";
import medals from "/medals.svg";
import suitcase from "/suitcase.svg";
import graph from "/graph.svg";
import partners from "/partners.svg";
import head from "/head.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <Navbar />
  <main>
    <Slideshow />
    <div class="mission-container">
      <p class="mission-text blurb outline">
        <strong>ACES</strong> (Achievement through Community Education & Support)
        is a fun-focused high school mentoring program. <br /><span>
          We help 9th-12th grade Lorain High School/Success Academy students
          accept and successfully navigate a series of challenges.
        </span>
        <br />
        <span
          >The students develop inherent skills to overcome barriers hindering
          educational, social, emotional and career growth.</span
        >
        <br />
        <br />
        <strong>Our program runs yearly from July 1st – June 30th</strong>
      </p>
    </div>

    <div class="photo-text-container">
      <div class="text-card">
        <h2>About the ACES Program</h2>
        <p>
          Students will complete group and individual challenges, learning to
          control emotions and behaviors that could ultimately hinder their
          academic and social progress. <br />

          <br /> They are taught how to implement this new-found control to reach
          short/long term goals via hands-on, goal oriented, role playing, critical
          thinking scenarios and community service.
          <br />

          <br /> The ACES program empowers students to experiment and adopt behaviors
          that generate positive results.
        </p>
      </div>
      <!-- <div class="photo-card-text">
        <section>
          <h2>Our Students Are Motivated To:</h2>
          <ul class="rewards-list">
            <li>improve/maintain academic performance</li>
            <li>attend school regularly</li>
            <li>participate in after-school tutoring</li>

            <li>
              avoid behaviors that lead to negative <br /> referrals and suspensions
            </li>
            <li>contemplate a more positive future</li>
          </ul>
        </section>
      </div> -->
      <div class="photo-card-container">
        <img
          class="photo-card-img"
          src={paddleBoarding}
          alt="students paddle boarding on a lake as the sun sets"
        />
        <!-- <div class="photo-card"></div> -->
      </div>
    </div>
    <div class="rewards-container">
      <div class="rewards-card">
        <!-- <div class="rewards-curtain">
          <img class="rewards-icon" src={medals} alt="a stack of medals" />
        </div> -->
        <p>
          Students experience their power through the successful completion of
          challenges that generate rewards and incentives.
        </p>
        <img class="rewards-icon" src={medals} alt="a stack of medals" />
      </div>
      <div class="rewards-card">
        <p>
          Community service challenges are converted into employment
          opportunities when organizations like <br /><a
            href="https://ohiomeansjobs.ohio.gov/home/">Ohio Means Jobs</a
          > interview students in May.
        </p>
        <img class="rewards-icon" src={suitcase} alt="a stack of medals" />
      </div>
      <div class="rewards-card">
        <p>
          Students form new relationships with Lorain County businesses and grow
          their entrepreneurship skills through positive reinforcement.
        </p>
        <img class="rewards-icon" src={partners} alt="a stack of medals" />
      </div>
      <div class="rewards-card">
        <p>
          Students will realize that personal progress can be acquired through
          leadership training, proper mindset, college prep and community
          service.
        </p>
        <img
          class="rewards-icon"
          src={head}
          alt="a stack of medals"
          style="color: green;"
        />
      </div>
      <!-- <p>
        Our goal is to motivate Students to want to meet outside of school for
        two or more days per week to include fieldtrips for a total of 10 hours
        each week, rides to/from included (this would be in addition to any in
        school hours of training requested by the LCSD – currently 5-25 per
        week). Meeting hours will be after school on Thursdays (2:30pm-5:30pm)
        at Lorain High School and 11am-4pm on Saturdays which will include
        community service projects and fieldtrips. Transportation will be
        provided to all locations where training will take place for those
        without transportation access. ACES Students will also attend unique
        fieldtrips, college visits, experience adventures and new opportunities,
        and will each be provided with new resumes and cover letters that will
        assist in securing part-time employment in the summer and throughout the
        following year. Participants will acquire communication, social
        development, problem solving, leadership and decision-making skills
        while having fun racing go-carts, swimming, kayaking, archery, bowling
        and many other activities they will enjoy. The ACES program will provide
        challenges whose successful completion will lead to informed choices on
        selecting a future college, preparing for a career and utilizing service
        learning and other community impact projects to position themselves for
        future employment success. Students demonstrating progress will also
        plan and host special events (Café Nights, STEM Camps for 2nd thru 7th
        graders, festivals, etc.) which will greatly enhance their portfolios
        and confidence. Participants must continue to improve
        academically/behaviorally at their school and complete personal
        obligations at home to remain in the program.
      </p> -->
    </div>

    <div class="signup-photo-text-container">
      <div class="signup-photo-card-container">
        <img
          class="photo-card-img"
          src={mouseAndCat}
          alt="children in front of two people costumed, one as a cat and the other, a mouse"
        />
      </div>
      <div class="motivated-text blurb outline">
        <div>
          <h2 class="motivated-header">ACES Students Are Motivated To...</h2>
          <ul class="rewards-list">
            <li>Improve/maintain academic performance</li>
            <li>Attend school regularly</li>
            <li>Participate in after-school tutoring</li>
            <li>
              Avoid behaviors that lead to negative referrals and suspensions
            </li>
            <li>Contemplate a more positive future</li>
          </ul>
        </div>
        <div><button class="signup">Sign Up!</button></div>
      </div>
    </div>
  </main>
  <Footer />
  <style is:global>
    main {
    }
    .flex {
      display: flex;
      gap: var(--gap, 1rem);
    }
    body {
      overflow-x: hidden;
      background-color: var(--aces-blue);
      background-color: #eee;
    }
    .text-center {
      text-align: center !important;
    }
    .showcase {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      /* padding: 2rem 20% 2rem; */
      background-color: var(--aces-blue-dark);
      overflow-y: hidden;
    }
    .showcase > img {
      width: 100%;
    }
    .outline {
      border: 2px solid var(--aces-blue-light);
      /* border-color: var(--aces-blue); */
    }
    .mission-container {
      /* align-items: center; */
      /* background-color: #eee; */
      /* background-color: var(--aces-blue); */
    }
    .mission-text {
      text-align: center;
      padding: 2rem 0;
      margin: 2rem 5%;
      /* background-color: #fff; */
      border-radius: 40px;

      /* width: 90%; */
    }
    /* .mission-card {
      flex: 0 0 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      background-color: var(--aces-blue);
      color: #fff;
    } */
    .blurb {
      font-size: 1.5rem;
    }
    .heading {
      font-size: 1.5rem;
      padding: 2rem 0 2rem;
    }
    .big-heading {
      font-size: 2.5rem;
      padding: 3rem 0 3rem;
    }
    .photo-text-container {
      display: flex;
      margin: 3rem 5% 5rem;
      justify-content: space-between;
      /* background-color: var(--aces-blue); */
      height: 525px;
    }
    .photo-text-container > *,
    .signup-photo-text-container > * {
      border-radius: 40px;
    }
    .text-card {
      display: flex;
      flex: 1 0 20%;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      text-align: left;
      margin-right: 5rem;
      /* padding: 1.5rem; */
      /* background-color: #fff; */
      color: #000;
    }
    .text-card > h2 {
      padding-bottom: 1.5rem;
    }
    .text-card > p {
      font-size: 1.5rem;
    }
    .photo-card-container {
      /* flex: 0 0 49%; */
      overflow: hidden;
      box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1);
      /* background-position: center;
      background-size: cover; */
    }
    .photo-card {
      display: block;
      overflow: hidden;
      /* position: relative; */
      width: 100%;
      height: 100%;
      background: url("/paddleBoarding.jpg");
      vertical-align: middle;
      object-fit: cover;

      /* object-position: 50% 80%; */
    }
    .photo-card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* object-position: 50% 65%; */
    }
    .photo-card-text {
      background-color: #fff;
      height: 100%;
      padding: 1.5rem;
      margin-right: 2rem;
      flex: 1 0 20%;
      text-align: center;
    }
    h5 {
      color: var(--aces-blue-dark);
    }
    .rewards-list {
      font-size: 1.5rem;
      padding: 1rem 0 0;
      list-style: none;
      margin-bottom: 0;
    }
    li {
      padding: 0.5rem 0;
    }
    .rewards-container {
      display: flex;
      justify-content: space-evenly;
      padding: 2rem 0;
      /* margin: 0 5%; */
      /* background-color: #ccc; */
      /* background-color: var(--aces-blue); */
    }
    .rewards-card {
      display: flex;
      flex-direction: column;
      flex: 0 0 19%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      font-size: 1.2rem;
      padding: 1.5rem;
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 5px 10px 15px hsla(0, 0%, 0%, 0.1);
    }
    .rewards-curtain {
      position: relative;
      z-index: 3;
      background-color: var(--aces-blue-dark);
      width: 100%;
      height: 100%;
    }
    .rewards-icon {
      padding-top: 2rem;
    }
    .motivated-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      /* text-align: center; */
      padding: 2rem 3rem;
      /* margin: 0 5% 3rem; */
      /* background-color: #fff; */
      border-radius: 40px;

      /* width: 90%; */
    }
    .signup-photo-text-container {
      display: flex;
      margin: 3rem 5% 5rem;
      justify-content: space-between;
      /* background-color: var(--aces-blue); */
      height: 600px;
    }
    .signup-photo-card-container {
      flex: 0 0 60%;
      overflow: hidden;
      box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1);
      margin-right: 2rem;
      /* background-position: center;
      background-size: cover; */
    }
    .signup {
      border: none;
      border-radius: 40px;
      color: #fff;
      background-color: var(--aces-blue);
      padding: 1rem 2rem;
      box-shadow: 5px 10px 15px hsla(0, 0%, 0%, 0.1);
    }
    .signup:hover {
      background-color: var(--aces-blue-dark);
      transform: translateY(5px);
      box-shadow: none;
      transition: 0.1s transform ease-in;
    }

    @media (max-width: 35em) {
      .mission-container {
        padding: 1rem 1.2rem;
        flex-direction: column;
        height: auto;
      }
      .mission-text {
        font-size: 1.2rem;
        margin: 0;
        padding: 1.5rem;
      }
      .blurb {
      }
      .photo-text-container {
        flex-direction: column;
        height: auto;
        margin-bottom: 3rem;
      }
      .text-card {
        padding: 0 1rem 3rem;
        text-align: center;
        margin: 0;
      }
      .text-card > p {
        font-size: 1.2rem;
      }
      .rewards-container {
        padding: 0;
        flex-direction: column;
        margin: 2rem 5%;
        align-items: stretch;
        height: 160vh;
        /* justify-content: space-between; */
      }
      .rewards-card {
        flex: 1;
        margin: 0.5rem 1.2rem;
        /* margin: 1rem 0; */
      }
      .rewards-icon {
        padding: 0;
      }
      .signup-photo-text-container {
        flex-direction: column;
        height: auto;
      }
      .signup-photo-card-container {
        margin: 0 0 3rem;
      }
      .motivated-text {
        padding: 1.5rem;
        font-size: 1.2rem;
      }
      .motivated-header {
        text-align: center;
      }
      .rewards-list {
        font-size: 1.2rem;
      }
    }
  </style>


</html>
