---
import { Image } from "astro:assets";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import coke from "../images/cokeBottle.png";
import largeGroup from "../images/largeGroup.jpg";
import houseInFront from "../images/houseInFront.jpg";
import plates from "../images/plates.jpg";
import gala from "../images/gala.jpg";
import team from "../images/team.jpeg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="src/assets/favicon.svg" />
  </head>
  <Navbar />
  <main>
    <div class="showcase-container">
      <div class="heading-container">
        <h2 class="heading text-center" id="videos">Out of Darkness</h2>
        <h4 class="text-center">Anti Bullying Video</h4>
      </div>
      <section class="showcase">
        <video playsinline controls poster="src/assets/ACES-logo-star.png">
          <source src="/outOfDarkness2.m4v" type="video/mp4" />
          <!-- <source src="" type="video/webm" /> -->
          Sorry, your browser doesn't support HTML video.
        </video>
      </section>
    </div>
    <h2 class="heading text-center" id="photos">Photos</h2>

    <div class="photo-grid-container flex">
      <div class="photo-card-container">
        <Image class="photo-card-img" src={largeGroup} alt="" />
      </div>
      <div class="photo-card-container">
        <Image class="photo-card-img" src={coke} alt="" />
      </div>
      <div class="photo-card-container">
        <Image class="photo-card-img" src={houseInFront} alt="" />
      </div>
    </div>
    <div class="photo-grid-container-bottom flex">
      <div class="photo-card-container">
        <Image class="photo-card-img" src={plates} alt="" />
      </div>
      <div class="photo-card-container">
        <Image class="photo-card-img" src={gala} alt="" />
      </div>
      <div class="photo-card-container">
        <Image class="photo-card-img" src={team} alt="" />
      </div>
    </div>

    <h2 class="heading text-center" id="newspaper">Newspaper</h2>

    <div class="flex" style="justify-content:center; margin:2rem 5% 5rem">
      <div class="info-button-container outline">
        <span> Download Article (opens new tab)</span>
        <a href="/ACESarticle.pdf">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="info-icon download-button"
            height="48"
            viewBox="0 96 960 960"
            width="48"
          >
            <path
              d="M280 776h400v-60H280v60Zm197-126 158-157-42-42-85 84V336h-60v199l-85-84-42 42 156 157Zm3 326q-82 0-155-31.5t-127.5-86Q143 804 111.5 731T80 576q0-83 31.5-156t86-127Q252 239 325 207.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 82-31.5 155T763 858.5q-54 54.5-127 86T480 976Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </main>
  <Footer />
  <style is:global>
    main {
    }
    .flex {
      display: flex;
      gap: var(--gap, 1rem);
    }
    body {
      overflow-x: hidden;
      background-color: #eee;
      font-family: "Manrope", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }
    a {
      font-weight: 500;
    }
    strong {
      color: var(--aces-blue-dark);
    }
    .text-center {
      text-align: center !important;
    }
    .heading {
      font-size: 2rem;
      padding-bottom: 1rem;
      margin: 0;
    }
    .bubble {
      color: #000;
      background-color: #eee;
      /* border: 2px solid var(--aces-blue-light); */
    }
    .outline {
      border: 2px solid var(--aces-blue-light);
    }
    .blurb {
      font-size: 1.5rem;
    }
    .heading-container {
      padding-bottom: 2rem;
    }
    .showcase-container {
      padding: 2rem 0;
    }
    .showcase {
      /* width: 100%; */
      margin: 0 5%;
      display: flex;
      justify-content: center;
      /* height: 50rem; */
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .showcase > video {
      width: 100%;
      height: 100%;
      flex: 0 1 48%;
      display: block;
      object-fit: cover;
      background-color: var(--aces-blue-dark);
    }
    .mission-text {
      text-align: center;
      padding: 2rem 1rem;
      margin: 2rem 5%;
      /* background-color: #fff; */
      border-radius: 40px;

      /* width: 90%; */
    }
    .photo-grid-container {
      display: grid;
      grid: auto-flow / 3fr 1fr 3fr;
      margin: 2rem 5%;
    }
    .photo-grid-container-bottom {
      display: grid;
      grid: auto-flow / 1.5fr 3fr 3fr;
      margin: 2rem 5%;
    }
    .photo-grid-container > *,
    .photo-grid-container-bottom > * {
      border-radius: 40px;
    }
    .text-card {
      display: flex;
      flex: 1 0 45%;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      text-align: left;
      margin-right: 5rem;
      /* padding: 1.5rem; */
      /* background-color: #fff; */
      color: #000;
    }
    .photo-card-container {
      /* flex: 0 0 50%; */
      overflow: hidden;
      box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1);
      /* background-position: center;
      background-size: cover; */
    }
    .photo-card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* object-position: 50% 65%; */
    }
    .photo-card-text {
      background-color: #fff;
      height: 100%;
      padding: 1.5rem;
      margin-right: 2rem;
      flex: 1 0 20%;
      text-align: center;
    }
    .photo-text-container > * {
      border-radius: 40px;
    }
    .motivated-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 2rem 2rem;
      /* margin: 0 5% 3rem; */
      /* background-color: #fff; */
      border-radius: 40px;
    }
    .info-container {
      margin: 0 5% 5rem;
    }
    .info-button-container {
      /* width: 20%; */
      /* margin-top: 2rem; */
      /* display: flex; */
      padding: 0.8rem;
      /* position: fixed; */
      border-radius: 40px;
      /* margin-left: 50%; */
    }
    .info-button-container > span {
      padding-right: 0.5rem;
    }
    .info-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .info-button:hover {
      rotate: 360deg;
      transform: scale(1.2);
      transition: 0.3s rotate ease-out;
    }
    .info-icon {
      fill: var(--aces-blue);
    }
    .info-icon:active {
      fill: var(--aces-blue-dark);
    }
    .new-tab-linebreak {
      display: none;
    }
    .download-button {
      border: none;
      padding: 0;
      background: transparent;
    }
    .download-button:hover {
      transform: scale(1.2);
      transition: 0.3s scale ease-out;
    }

    @media (max-width: 64em) {
      .showcase {
        flex-direction: column;
      }
      .showcase > video {
        margin-bottom: 2rem;
      }
      .photo-grid-container {
        margin-bottom: 0;
      }
      .photo-grid-container,
      .photo-grid-container-bottom {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 35em) {
      .flex {
        flex-direction: column;
        gap: var(--gap, 2rem);
      }
      .motivated-text {
        margin: 2rem 0;
      }
      .photo-text-container {
        flex-direction: column;
        height: auto;
        margin-bottom: 2rem;
      }

      .new-tab-linebreak {
        display: inline;
      }
      .team-header {
        padding: 0;
        text-align: center;
        font-size: 3rem;
      }
      .team-cards-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
      }
      .awards-container {
        padding: 0 5% 2rem;
      }
    }

    @media (max-width: 64em) {
      .mission-text {
        padding: 1.5rem;
      }
      .photo-text-container {
        flex-direction: column;
        justify-content: space-between;
        /* height: 48rem; */
        margin-bottom: 4rem;
      }
      .text-card {
        flex: 0 0 10%;
        margin: 0;
      }
      .photo-card-container {
        margin: 2rem 0;
        flex: 0 0 40%;
      }
      .rewards-container {
        flex-wrap: wrap;
        padding: 0 0 2rem;
      }
      .rewards-card {
        flex: 0 0 40%;
        margin-bottom: 2rem;
      }
      .signup-photo-text-container {
        margin: 0 5% 3rem;
        flex-direction: column;
        height: 55rem;
      }
      .signup-photo-card-container {
        margin: 0 0 2rem;
        flex: 0 0 40%;
      }
      .rewards-list {
        padding-bottom: 1rem;
      }
    }

    @media (max-width: 35em) {
      .mission-container {
        padding: 1rem 1.2rem;
        flex-direction: column;
        height: auto;
      }
      .photo-text-container {
        flex-direction: column;
        height: auto;
        margin-bottom: 2rem;
      }
      .text-card {
        padding: 0 1rem 3rem;
        text-align: center;
        margin: 0;
      }
      .text-card > p {
        font-size: 1.2rem;
      }
      .photo-card-container {
        margin: 0;
      }
      .rewards-container {
        padding: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 2rem 5%;
        align-items: center;
        height: 81.25rem;
      }
      .rewards-card {
        flex: 0 1;
      }
      .rewards-icon {
        padding: 0;
      }
      .signup-photo-text-container {
        flex-direction: column;
        height: auto;
      }
      .signup-photo-card-container {
        margin: 0 0 3rem;
      }
      .motivated-text {
        padding: 1.5rem;
        font-size: 1.2rem;
      }
      .motivated-header {
        text-align: center;
      }
      .rewards-list {
        font-size: 1.2rem;
      }
    }
  </style>


</html>
